openapi: 3.2.0
info:
  title: Flare Therapeutics Content Patterns API
  version: wp/v2
  summary: Anonymously readable WordPress REST content API behind www.flaretx.com.
  description: The read-only content surface Flare Therapeutics exposes at https://www.flaretx.com/wp-json. Flare Therapeutics is a clinical-stage biotechnology company at 400 Technology Square, Cambridge, Massachusetts, developing small-molecule precision medicines against transcription factors — historically "undruggable" targets — using a switch-site discovery platform. Its lead programs are FX-909 in advanced urothelial cancer and FX-111 in prostate cancer, and it runs a discovery collaboration with Roche. It operates no developer program and markets no product API. This document is an API Evangelist derivation of the WordPress `wp/v2` and `oembed/1.0` route index the site publishes at /wp-json/, restricted to the operations verified to return data anonymously on 2026-08-12. Write operations, `/wp/v2/users`, `/wp/v2/settings`, `/wp/v2/menus`, `/wp/v2/themes`, `/wp/v2/plugins`, `/wp/v2/block-types`, `/wp/v2/font-collections`, `/wp/v2/icons`, the `wp-abilities/v1` namespace, the `aiarc/v1`, `wpe_sign_on_plugin/v1`, `google-site-kit/v1`, `yoast/v1`, `wpgmza/v1`, `akismet/v1`, `post-duplicator/v1`, `mtphrSettings/v1` and `gosmtp-smtp` plugin namespaces and the whole plugin-administration surface all require authentication or are administrative and are deliberately excluded — see x-api-evangelist-provenance.
  contact:
    name: Flare Therapeutics
    url: https://www.flaretx.com/
    email: contact@flaretx.com
  x-api-evangelist-provenance: 'Derived by the API Evangelist enrichment pipeline from the live WordPress REST route index at https://www.flaretx.com/wp-json/ (259 routes across 16 namespaces) and verified against live anonymous responses on 2026-08-12. Every parameter below appears verbatim in the route index `args` for that endpoint, and every collection count in a description was read from the `X-WP-Total` response header on that date. Flare Therapeutics publishes no OpenAPI, no developer documentation and no API reference for this surface; the humanURL in apis.yml points at the upstream WordPress REST handbook that defines the wp/v2 contract. The deployment is served by WP Engine (nginx, x-powered-by WP Engine) and API responses carry `x-robots-tag: noindex`. Nothing here was obtained with credentials.'
servers:
- url: https://www.flaretx.com/wp-json
  description: Production content API
tags:
- name: patterns
  description: Reusable block patterns and their categories. Registered and anonymously reachable, but both report zero published items.
paths:
  /wp/v2/blocks:
    get:
      tags:
      - patterns
      operationId: listReusableBlocks
      summary: List reusable block patterns
      description: The wp_block post type. Registered and anonymously reachable but empty on this deployment (X-WP-Total 0 at harvest time).
      parameters:
      - $ref: '#/components/parameters/Context'
      - $ref: '#/components/parameters/Page'
      - $ref: '#/components/parameters/PerPage'
      - $ref: '#/components/parameters/Search'
      - $ref: '#/components/parameters/Fields'
      responses:
        '200':
          description: A page of reusable blocks. Empty on this deployment.
          headers:
            X-WP-Total:
              $ref: '#/components/headers/XWPTotal'
            X-WP-TotalPages:
              $ref: '#/components/headers/XWPTotalPages'
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
  /wp/v2/wp_pattern_category:
    get:
      tags:
      - patterns
      operationId: listPatternCategories
      summary: List block-pattern categories
      description: Registered and anonymously reachable but empty on this deployment (X-WP-Total 0 at harvest time).
      parameters:
      - $ref: '#/components/parameters/Context'
      - $ref: '#/components/parameters/Page'
      - $ref: '#/components/parameters/PerPage'
      - $ref: '#/components/parameters/Search'
      responses:
        '200':
          description: A page of pattern-category terms. Empty on this deployment.
          headers:
            X-WP-Total:
              $ref: '#/components/headers/XWPTotal'
            X-WP-TotalPages:
              $ref: '#/components/headers/XWPTotalPages'
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Term'
components:
  schemas:
    Term:
      type: object
      description: A taxonomy term (category, tag or pattern category).
      properties:
        id:
          type: integer
        count:
          type: integer
        description:
          type: string
        link:
          type: string
          format: uri
        name:
          type: string
        slug:
          type: string
        taxonomy:
          type: string
        parent:
          type: integer
        meta:
          type: object
        acf:
          type: array
        yoast_head:
          type: string
        yoast_head_json:
          type: object
        _links:
          type: object
  headers:
    XWPTotal:
      description: Total number of matching items across all pages.
      schema:
        type: integer
    XWPTotalPages:
      description: Total number of pages available.
      schema:
        type: integer
  parameters:
    PerPage:
      name: per_page
      in: query
      description: Maximum number of items to be returned in the result set.
      schema:
        type: integer
        default: 10
        minimum: 1
        maximum: 100
    Context:
      name: context
      in: query
      description: Scope under which the request is made; determines fields present in the response. Only `view` and `embed` are available anonymously — `edit` returns 401.
      schema:
        type: string
        default: view
        enum:
        - view
        - embed
        - edit
    Search:
      name: search
      in: query
      description: Limit results to those matching a string.
      schema:
        type: string
    Page:
      name: page
      in: query
      description: Current page of the collection (1-based).
      schema:
        type: integer
        default: 1
        minimum: 1
    Fields:
      name: _fields
      in: query
      description: Comma-separated allow-list of top-level response fields to return.
      schema:
        type: string
